node_modules/
package-lock.json

cache/
artifacts/
coverage/
coverage.json
typechain/
typechain-types/

.env
.env.local
.env.*.local

.vscode/
.idea/
*.swp
*.swo
*~

.DS_Store
Thumbs.db

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

dist/
build/

ignition/deployments/chain-31337

deployed-addresses.json